## Visualizing results -  Original Geoparser

We have run the [Edinburgh geoparser](https://programminghistorian.org/en/lessons/geoparsing-text-with-edinburgh#patch-fix) to extract and resolvoe locations contained within the **First Edition, Volume 1, A-B** (year 1771) of the *Encyclopaedia Britannica*
                             
The query for running that we have used is the following: 

`spark-submit --py-files defoe.zip defoe/run_query.py nls_subsample.txt nls defoe.nls.queries.geoparser_pages -r geopaser_original_EB_144133901 -n 16`

The nls_subsample.txt has the path of this particular book that we are exploring:

`xxx/nls-data-encyclopaediaBritannica/144133901`

The results file ( [geopaser_original_EB_144133901](http://localhost:8888/edit/results_NLS/geopaser_original_EB_144133901)) is stored in this repository under the *results_NLS* subdirectory.

### Loading the necessary libraries

In [8]:
import yaml
from IPython.core.display import display, HTML
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

### Functions

In [9]:
def read_query_results(filename):
    with open('./results_NLS/'+filename, 'r') as f:
        query_results = yaml.load(f)
    return query_results

In [12]:
def geresolution_dataframe(result):
    dfs=[]
    data=[]
    c_locs=[]
    for i in result.keys():
        t_ind = 0
        e_ind = 0
        for k in result[i]:
            locs= k["georesolution_page"]
            page = k["text_unit id"]
       
            if locs != {}:
                data=[]
                l_ind = 0
                for i in locs:
                    if type(locs[i]) == type([]) :
                        c_locs=locs[i].copy()
                        c_locs.append(i.split("-")[0])
                        c_locs.append(page)
                        data.append(c_locs)
                        l_ind = l_ind + 1   
                e_ind = t_ind + l_ind 
                if data:
                    df_page = pd.DataFrame(data, columns = ['Latitude', 'Longitude', 'Place', 'Page'], 
                                      index=list(range(t_ind, e_ind)))
                    dfs.append(df_page)
                    t_ind=e_ind
    df_total = pd.concat(dfs)
    return df_total


This query does the following tasks:

- Ingests all the pages from the directory "144133901",  which corresponds to the book "Encyclopaedia Britannica; or, A dictionary of arts and sciences, compiled upon a new plan … - First edition, 1771, Volume 1, A-B - EB.1"
- Cleans the text applied two fixes: Long-s and hyphen words
- Identifies *entities* using the original geotagging of the geoparser. 
- From the previous entities, just selects the one about *location* and creates an xml (in memory) per page with these "location" entities. 
- Applies the georesolve to each xml and gets lat and long. **Important: Everything is in memory, we do not create XML files in those steps**
- Group the results by Book's title, and also gets some informative metadata

As a result we get a file per gazetter|book with an entry per page with the following information:

    * archive_filename: Path to the gazetteer 
    * clean_text: Page's clean text after applying 2 fixes: long-S and hyphenate words
    * display_ER: Display of a page’s entities found by the geoparser (in HTML format)
    * edition: Edition of the gazetteer
    * georesolution_page: Page's geolocations after applying the georesolver
    * model: defoe model – could be fmp|nls|papers|alto. In this case is “nls”
    * text_unit: page (for other defoe models could be “article”)
    * num_text_unit: number of tex units. In this case, number of pages of this particular gazetter (e.g. 832)
    * page_filename: Page's filename (page's relative path)
    * text_unit id: The number of this page (e.g. Page 1)
    * lang_model : The language model applied (original_geoparser)
    * type_distribution: type of document (newspaper|book). In this case is "book". 
    * year: Publication year 


Example:
  - archive_filename: /home/tdm/datasets/encyclopaedia-britannica-sample/144133901
  - clean_text: "AGRICULTURE. 47 PART II. Of the various Operations upon the Soil, in\
    \ order to prepare it for the Recsp-' tion and Nourijhment of Plants. S e c t.\
  - edition: First edition, 1771, Volume 1, A-B
  - georesolution_page:
     - Scotland-rb2:
       - '57.68633318560074'
       - '-4.96890721218449'
  - lang_model: geoparser_original
  - model: nls
  - num_text_unit: 832
  - page_filename: alto/188083661.34.xml
  - place: Edinburgh
  - text_unit: page
  - text_unit id: Page73
  - type_distribution: book

In [13]:
results=read_query_results('geopaser_original_EB_144133901')

In [14]:
df_total= geresolution_dataframe(results)

In [15]:
df_total

                Latitude           Longitude              Place     Page
0      57.68633318560074   -4.96890721218449           Scotland   Page73
1      51.66553761368909  0.6494482339095444             Maries   Page74
2      52.66970530850324  -1.117070990383866            England   Page74
3      53.69180622064813  -2.423529257645026           Scotland   Page74
4      51.66553761368909  0.6494482339095444             Maries   Page74
5      53.69180622064813  -2.423529257645026           Scotland   Page74
6             42.7764787         -71.1522811           Scotland   Page75
7             42.4514848         -71.0864414            England   Page75
8      57.68633318560074   -4.96890721218449           Scotland   Page76
9       67.3741216808404    12.1815410351753               Rost   Page77
10               4.75009             7.35719                Jor   Page77
11     79.21666999999999            20.11667                Von   Page79
12     57.68633318560074   -4.96890721218449           Scotland   Page80
13            42.7764787         -71.1522811           Scotland   Page82
14            42.7578673         -71.2422828            England   Page82
15            42.7764787         -71.1522811           Scotland   Page82
16     57.68633318560074   -4.96890721218449           Scotland   Page85
17     57.68633318560074   -4.96890721218449           Scotland   Page86
18     57.68633318560074   -4.96890721218449           Scotland   Page86
19                                                         Hool   Page87
20     53.69180622064813  -2.423529257645026           Scotland   Page88
21     53.69180622064813  -2.423529257645026           Scotland   Page88
22      50.6522111706725  -3.615645583175173             France   Page88
23     52.66970530850324  -1.117070990383866            England   Page88
24     53.69180622064813  -2.423529257645026           Scotland   Page88
25     53.69180622064813  -2.423529257645026           Scotland   Page88
26     53.69180622064813  -2.423529257645026           Scotland   Page88
27     55.97971203111546  -3.628201448956618         Linlithgow   Page88
28     53.69180622064813  -2.423529257645026           Scotland   Page88
29     51.35500355166457   1.330299995802726             Thanet   Page89
...                  ...                 ...                ...      ...
5015   55.39743676416652  -1.946290502159914               Ryle  Page827
5016                42.5                17.5             Epirus  Page828
5017   59.22022125858783   25.35590660898998             Europe  Page828
5018                                                   BUTRINTO  Page828
5019   45.44306631121299   12.34026004400428             Venice  Page828
5020                44.4          11.6833333             Canina  Page828
5021   26.82534047466498   30.79396488421904              Egypt  Page828
5022   54.31925079960345  -2.232838508197517            Britain  Page828
5023   52.66970530850324  -1.117070990383866            England  Page828
5024    45.2425296081972  -94.88857066304371      North America  Page828
5025   53.24904257867704  -1.916682664014593             BUXTON  Page829
5026   53.24904257867704  -1.916682664014593             Buxton  Page829
5027   51.16809234634502   10.43727461748782            Germany  Page829
5028   52.66970530850324  -1.117070990383866            England  Page829
5029    50.6522111706725  -3.615645583175173             France  Page829
5030            41.01384            28.94966          BYZANTIUM  Page829
5031   54.31925079960345  -2.232838508197517            Britain  Page829
5032          38.9234446         -77.0369213  city of Lithuania  Page829
5033          38.9112226         -77.0491438            Morocco  Page829
5034   53.62357473409726   11.39561486170882           Schwerin  Page829
5035   54.31925079960345  -2.232838508197517            Britain  Page829
5036    44.0559416775165   5.961450433041193           Provence  Page829
5037   53.69180622064813  -2.423529257645026           Scotland  Page829
5038        45.150099727       -80.166378518           Dauphine  Page829
5039                  52                  10       Lower Saxony  Page829
5040   51.91605702750738   19.13353967303701             Poland  Page829
5041  -34.54613311780727   27.22441532394009             Africa  Page829
5042                                                     Bafion  Page830
5043          44.6333333  0.9166666999999999                Bos  Page830
5044            43.38333             0.46667             Breton  Page830

[5045 rows x 4 columns]

In [16]:
df_total[["Place"]].count()

Place    5045
dtype: int64

In [17]:
df_total.sum()

Latitude     57.6863331856007451.6655376136890952.669705308...
Longitude    -4.968907212184490.6494482339095444-1.11707099...
Place        ScotlandMariesEnglandScotlandMariesScotlandSco...
Page         Page73Page74Page74Page74Page74Page74Page75Page...
dtype: object

In [18]:
df_total.groupby("Place").count()

                                       Latitude  Longitude  Page
Place
ABACA                                         1          1     1
AGROPOLI                                      1          1     1
AGUALVA                                       1          1     1
AGUTI                                         1          1     1
AHAUSEN                                       1          1     1
AHUAS                                         1          1     1
AHUN                                          1          1     1
AHUS                                          1          1     1
AIGUILLON                                     1          1     1
AILE                                          1          1     1
AIRA                                          1          1     1
AIRANI                                        1          1     1
AIRE                                          1          1     1
AISE                                          1          1     1
AJAX                                          1          1     1
ALABA                                         1          1     1
ALAGON                                        1          1     1
ALAMODE                                       1          1     1
ALARES                                        1          1     1
ALAVA                                         1          1     1
ALBANY                                        1          1     1
ALBAZIN                                       1          1     1
ALBE                                          1          1     1
ALBEMARLE                                     1          1     1
ALBENGA                                       1          1     1
ALBERTUS                                      1          1     1
ALBII                                         1          1     1
ALBION                                        1          1     1
ALBONA                                        1          1     1
ALBULA                                        1          1     1
...                                         ...        ...   ...
province of Novogorod                         1          1     1
province of Nyland                            1          1     1
province of Orleanois                         1          1     1
province of Picardy                           2          2     2
province of Podoliaand Buziac Tartary         1          1     1
province of Poidtou                           1          1     1
province of Portugal                          1          1     1
province of Principata                        2          2     2
province of Red Ruffia                        1          1     1
province of Servia                            1          1     1
province of Smaland                           1          1     1
province of Spain                             3          3     3
province of Sweden                            2          2     2
province of Tralofmontes                      1          1     1
province of Tralos Montes                     1          1     1
province of Turky                             3          3     3
province of Ulfter                            3          3     3
province of Uliter                            1          1     1
province of Ullter                            1          1     1
province of Utrecht                           1          1     1
province of Valencia                          2          2     2
province of Valentia                          1          1     1
province of Venezuela                         1          1     1
province of Vifiapour                         1          1     1
province of Zealand                           1          1     1
province ot Entre                             1          1     1
provinces of Curdiftan                        1          1     1
provinces of Dai                              1          1     1
provinces of France                           1          1     1
ward of London.                               1          1     1

[2028 rows x 3 columns]

In [19]:
df_total.groupby("Page").count()

         Latitude  Longitude  Place
Page
Page100         9          9      9
Page101        37         37     37
Page102        25         25     25
Page103        34         34     34
Page104        24         24     24
Page105        34         34     34
Page106        42         42     42
Page109        22         22     22
Page110        23         23     23
Page111        36         36     36
Page112         1          1      1
Page113         1          1      1
Page117         2          2      2
Page123         1          1      1
Page124         5          5      5
Page127         1          1      1
Page129         1          1      1
Page130         1          1      1
Page131         1          1      1
Page150        31         31     31
Page151        13         13     13
Page152        12         12     12
Page153         4          4      4
Page155         5          5      5
Page156        23         23     23
Page157        21         21     21
Page158        28         28     28
Page159        10         10     10
Page160        37         37     37
Page163        28         28     28
...           ...        ...    ...
Page813        20         20     20
Page814        11         11     11
Page815        37         37     37
Page816        22         22     22
Page817        30         30     30
Page818        23         23     23
Page819        43         43     43
Page82          3          3      3
Page820        23         23     23
Page821        13         13     13
Page822        21         21     21
Page823        21         21     21
Page824        17         17     17
Page825        20         20     20
Page826        18         18     18
Page827        16         16     16
Page828        18         18     18
Page829        34         34     34
Page830         6          6      6
Page85          1          1      1
Page86          2          2      2
Page87          1          1      1
Page88          9          9      9
Page89          6          6      6
Page90          1          1      1
Page91          3          3      3
Page92          5          5      5
Page93          8          8      8
Page94          4          4      4
Page95          3          3      3

[418 rows x 3 columns]

In [23]:
df_total.groupby(["Latitude", "Longitude"]).count()

                                        Place  Page
Latitude            Longitude
                                          271   271
-0.1366818175840478 100.6383162769587       1     1
-0.1544928803232608 -78.44005994797827      1     1
-0.2333333          -78.33333330000001      1     1
-1.0753             121.7811                1     1
-1.15               17.3333333              1     1
-1.380613091643525  -48.41852484800316      1     1
-1.445725396559766  5.629326002193295       1     1
-10.28333           14.95                   1     1
-10.5075            -76.5333333             1     1
-11.21130421927842  17.86268701148973       1     1
-11.31558725996149  101.2684487310294       1     1
-11.318285557377    -43.4688002641166       2     2
-11.35              40.1833333              1     1
-11.56435841231078  160.1797632184479       1     1
-12.2787871222339   -51.7515622149631       1     1
-12.2925            -75.8061111             1     1
-14.23752777076172  -51.44741054306343      4     4
-15.1816667         39.9925                 2     2
-15.9333333         47.55                   1     1
-16.411913          -71.712706              1     1
-17.3768            31.0208                 1     1
-17.59416           31.1483                 1     1
-17.6783333         35.0422222              1     1
-17.699325          168.319794              1     1
-18.2333333         32.6333333              6     6
-18.46404062263641  -70.27969692654111      1     1
-19.6166667         33.4                    1     1
-19.78724150968595  34.84885327604547       1     1
-2.06667            29.45                   1     1
...                                       ...   ...
67.83374095333238   25.3158504574327        9     9
69.84999999999999   -23.65                  1     1
7.0666667           8.966666699999999       1     1
7.1747222           -73.7758333             1     1
7.197778            46.662222               1     1
7.9427778           28.4147222              1     1
70.45636627811908   -36.15620886952564      1     1
70.7                -54.0666667             1     1
71.93464582999999   -83.93285665099999      2     2
79.21666999999999   20.11667                9     9
8.1216667           -72.8791667             1     1
8.280140895985596   93.11791344584893       1     1
8.35894             171.04465               1     1
8.591939999999999   43.3                    2     2
8.594720000000001   43.40083                1     1
8.670277799999999   -76.2091667             1     1
8.8333333           33.3666667              1     1
8.877325939506818   -74.61693290093469      1     1
8.94                -72.1394444             1     1
8.964750271208118   38.78148847856048       1     1
8.995265204296388   -79.47305410790867      1     1
9.141432800481851   40.48448449690997       5     5
9.216670000000001   -75.43333               1     1
9.25                -82.1333333             1     1
9.3333333           -75.1833333             7     7
9.470555600000001   -64.47                  1     1
9.501110000000001   -73.98027999999999      1     1
9.776793728297974   5.454943881754787       1     1
9.879645086712827   124.2124129566462       1     1
9.931797994526079   -11.37144588239619      4     4

[1963 rows x 2 columns]